---
import ExperienceItem from "@components/ExperienceItem.astro"
import { experience } from "@portfolio"
---

<ol class="relative mt-8">
  {
    experience.toReversed().map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
