---
import Layout from "@/layouts/Layout.astro"

import SectionContainer from "@/components/SectionContainer.astro"
import Experience from "@/components/sections/Experience.astro"
import Projects from "@/components/sections/Projects.astro"
import AboutMe from "@/components/sections/AboutMe.astro"
import Hero from "@/components/sections/Hero.astro"

import CodeIcon from "@/components/icons/Code.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
---

<Layout>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="flex flex-col gap-24">
      <SectionContainer title="Experience" id="experience">
        <Briefcase slot="icon" class="size-8" />
        <Experience />
      </SectionContainer>

      <SectionContainer title="Projects" id="projects">
        <CodeIcon slot="icon" class="size-7" />
        <Projects />
      </SectionContainer>

      <SectionContainer title="About Me" id="about">
        <ProfileCheck slot="icon" class="size-8" />
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
