---
import { basics } from "@portfolio"
const { email } = basics
const currentYear = new Date().getFullYear()
---

<footer
  class="flex justify-center mt-8 mb-10 mx-auto w-full container rounded-lg shadow-md bg-purple-950/5 dark:bg-neutral-700/60 shadow-purple-300/40 dark:shadow-none backdrop-blur-lg lg:max-w-4xl md:max-w-2xl"
>
  <div
    class="flex flex-wrap items-center justify-between gap-y-3 gap-x-6 mx-auto py-4 px-4 w-full max-w-screen-xl rounded-lg"
  >
    <span class="text-sm sm:text-center">
      <a href="https://github.com/jesubohr" class="font-semibold hover:underline">jesubohr</a>
      © {currentYear}
    </span>
    <ul class="flex items-center gap-4 text-sm font-medium dark:text-white/90">
      <li>
        <a href="/#about" class="hover:underline">About me</a>
      </li>
      <li>
        <a id="contacto" href={`mailto:${email}`} class="hover:underline">Contact me</a>
      </li>
    </ul>
  </div>
</footer>
