---
import ThemeToggle from "@/components/ui/ThemeToggle.astro"

const navItems = [
  {
    title: "Experience",
    label: "experience",
    url: "/#experience"
  },
  {
    title: "Projects",
    label: "projects",
    url: "/#projects"
  },
  {
    title: "About",
    label: "about",
    url: "/#about"
  }
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center mx-auto mt-2 w-full"
>
  <nav
    class="flex gap-1 xs:gap-4 px-2.5 xs:px-4 text-[15px] font-medium rounded-full text-neutral-600 dark:text-neutral-100 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block p-2 hover:text-purple-500 dark:hover:text-purple-400 transition"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-purple-400")
            } else {
              item.classList.remove("text-purple-400")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    --nav-bg-color: rgba(243, 232, 255, 0.8);
    --tw-ring-color: rgba(216, 180, 254, 0.4);
  }

  html.dark nav {
    --nav-bg-color: rgba(59, 7, 100, 0.1);
    --tw-ring-color: rgba(216, 180, 254, 0.3);
  }

  @keyframes nav-shadown {
    to {
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      background-color: var(--nav-bg-color);
    }
  }
</style>
