---
interface Props {
  id?: string
  title?: string
  class?: string
}
const { title, class: className = "", id = "" } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl`}
>
  {
    title && (
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3">
        <slot name="icon" />
        {title}
      </h2>
    )
  }
  <slot />
</section>
