<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="group inline-flex items-center justify-center gap-2 px-4 py-1 max-w-fit bg-purple-100 hover:bg-gray-800 dark:bg-gray-800 border border-purple-300 hover:border-gray-900 dark:border-gray-600 rounded-full text-base hover:text-white transition focus:outline-none focus-visible:ring focus-visible:ring-purple-500/80 focus-visible:ring-offset-2 dark:focus:ring-offset-black"
>
  <slot />
</a>
